<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njust.springboot.mapper.AttendanceMapper">
    <resultMap id="AttendanceResultMap" type="com.njust.springboot.entity.Attendance">
        <id property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="lectureId" column="lecture_id" />
        <result property="joinedAt" column="joined_at" />
        <result property="leftAt" column="left_at" />
    </resultMap>

    <insert id="insert" parameterType="com.njust.springboot.entity.Attendance">
        INSERT INTO attendance (user_id, lecture_id, joined_at, left_at)
        VALUES (#{userId}, #{lectureId}, #{joinedAt}, #{leftAt})
    </insert>

    <delete id="deleteById" parameterType="long">
        DELETE FROM attendance WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.njust.springboot.entity.Attendance">
        UPDATE attendance
        SET user_id = #{userId}, lecture_id = #{lectureId}, joined_at = #{joinedAt}, left_at = #{leftAt}
        WHERE id = #{id}
    </update>

    <select id="selectById" parameterType="long" resultMap="AttendanceResultMap">
        SELECT * FROM attendance WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="AttendanceResultMap">
        SELECT * FROM attendance
    </select>
</mapper> 