<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njust.springboot.mapper.DiscussionMapper">
    <resultMap id="DiscussionResultMap" type="com.njust.springboot.entity.Discussion">
        <id property="id" column="id" />
        <result property="quizId" column="quiz_id" />
        <result property="userId" column="user_id" />
        <result property="parentId" column="parent_id" />
        <result property="content" column="content" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <insert id="insert" parameterType="com.njust.springboot.entity.Discussion">
        INSERT INTO discussions (quiz_id, user_id, parent_id, content, created_at)
        VALUES (#{quizId}, #{userId}, #{parentId}, #{content}, #{createdAt})
    </insert>

    <delete id="deleteById" parameterType="long">
        DELETE FROM discussions WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.njust.springboot.entity.Discussion">
        UPDATE discussions
        SET quiz_id = #{quizId}, user_id = #{userId}, parent_id = #{parentId},
            content = #{content}, created_at = #{createdAt}
        WHERE id = #{id}
    </update>

    <select id="selectById" parameterType="long" resultMap="DiscussionResultMap">
        SELECT * FROM discussions WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="DiscussionResultMap">
        SELECT * FROM discussions
    </select>
</mapper> 